/* fonts */

@font-face {
    font-family: "GT-Pressura-Mono-Bold-Italic";
    src: url("../fonts/GT-Pressura-Mono-Bold-Italic.eot");
    src: url("../fonts/GT-Pressura-Mono-Bold-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Bold-Italic.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Bold-Italic.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Bold-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Mono-Bold";
    src: url("../fonts/GT-Pressura-Mono-Bold.eot");
    src: url("../fonts/GT-Pressura-Mono-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Bold.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Bold.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Mono-Light-Italic";
    src: url("../fonts/GT-Pressura-Mono-Light-Italic.eot");
    src: url("../fonts/GT-Pressura-Mono-Light-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Light-Italic.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Light-Italic.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Light-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Mono-Light";
    src: url("../fonts/GT-Pressura-Mono-Light.eot");
    src: url("../fonts/GT-Pressura-Mono-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Light.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Light.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Mono-Regular-Italic";
    src: url("../fonts/GT-Pressura-Mono-Regular-Italic.eot");
    src: url("../fonts/GT-Pressura-Mono-Regular-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Regular-Italic.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Regular-Italic.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Regular-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Mono-Regular";
    src: url("../fonts/GT-Pressura-Mono-Regular.eot");
    src: url("../fonts/GT-Pressura-Mono-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Mono-Regular.otf") format("otf"),
        url("../fonts/GT-Pressura-Mono-Regular.woff") format("woff"),
        url("../fonts/GT-Pressura-Mono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* 
@font-face {
    font-family: "GT-Pressura";
    src: url("../fonts/GT-Pressura-Regular.eot");
    src: url("../fonts/GT-Pressura-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Regular.woff") format("woff"),
        url("../fonts/GT-Pressura-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GT-Pressura-Bold";
    src: url("../fonts/GT-Pressura-Bold.eot");
    src: url("../fonts/GT-Pressura-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GT-Pressura-Bold.woff") format("woff"),
        url("../fonts/GT-Pressura-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: "Tungsten-Book";
    src: url("../fonts/Tungsten-Book.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tungsten-Medium";
    src: url("../fonts/Tungsten-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Benton Sans Old";
    src: url("../fonts/678ad688-7cdf-4224-bc1c-61662540f355-2.eot");
    src: url("../fonts/678ad688-7cdf-4224-bc1c-61662540f355-2.eot?") format("embedded-opentype"),
        url("../fonts/678ad688-7cdf-4224-bc1c-61662540f355-3.woff") format("woff"),
        url("../fonts/678ad688-7cdf-4224-bc1c-61662540f355-1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Benton Sans Medium Old";
    src: url("../fonts/17990d31-218b-431b-8c32-be38568e131e-2.eot");
    src: url("../fonts/17990d31-218b-431b-8c32-be38568e131e-2.eot?") format("embedded-opentype"),
        url("../fonts/17990d31-218b-431b-8c32-be38568e131e-3.woff") format("woff"),
        url("../fonts/17990d31-218b-431b-8c32-be38568e131e-1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Benton Sans Old";
    src: url("../fonts/544b25e5-9066-44a2-b4a4-c27fe00ef57d-2.eot");
    src: url("../fonts/544b25e5-9066-44a2-b4a4-c27fe00ef57d-2.eot?") format("embedded-opentype"),
        url("../fonts/544b25e5-9066-44a2-b4a4-c27fe00ef57d-3.woff") format("woff"),
        url("../fonts/544b25e5-9066-44a2-b4a4-c27fe00ef57d-1.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

.body,
body,
.rating-box .star-rating-filter-box li span {
    font-family: "GT-Pressura-Mono-Regular";
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .3px;
    color: #101820;
    font-weight: normal;
}

body * {
    outline: none
}

#sg-patterns {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    max-width: 100%;
    padding: 0 0.5em;
}

.demo-animate {
    background: #ddd;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.sg-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.sg-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.sg-swatch {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border-radius: 5px;
}

.sg-label {
    font-size: 90%;
    line-height: 1;
}

.sg-tabs {
    min-height: 280px;
}

.sg-pattern-example {
    padding: 24px 10px;
    min-height: 100px;
}

/*------------------------------------*\
    #buttons
\*------------------------------------*/
.mrrl-cta {
    background-color: #DC4405;
    color: #fff;
    padding: 20px 30px;
    border: none;
    min-width: 165px;
    font-family: "GT-Pressura-Mono-Regular", "Knockout 31 A", "Knockout 31 B", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-decoration: none;
}

.mrrl-cta:hover {
    background-color: #333;
    color: #fff;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.mrrl-cta .slide-cta {
    background-color: #000;
    color: #fff;
}


/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    color: #808080;
    text-decoration: none;
    outline: 0;
    transition: all 0.2s ease;
}

a:hover,
a:focus {
    color: #444444;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 * Definition list base styles
 */
dl {
    overflow: hidden;
    margin: 0 0 1em;
}

/**
 * Terms/Names base styles
 */
dt {
    font-weight: bold;
}

/**
 * Definition list description base styles
 */
dd {
    margin-left: 0;
}

button {
    cursor: pointer;
}

.mrrl--full-width {
    width: 100%;
}

.home-main-box {
    text-align: center;
}
